ul {

    list-style-type: none;
    font-size : 20px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
    align-content: stretch;

}
li:hover {
    color : none;
}
li{
    text-decoration: none;
    font-family: Arial, sans-serif;

}

a {
    text-decoration: none;
    color : gray;
}
.active{
    color : #D90000;
}

#month1 > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(1){
    height: 30px;
}
table {
    margin : auto;
    width: 75vw;
}

table td {
    font-size: 10px;
    color :gray;
    width: 80px;
    height: 80px;
    border-right:1px solid #dadce0;
    border-bottom:1px solid #dadce0;

}

#month1 > table:nth-child(1) > thead:nth-child(1){
    border-bottom: solid 1px #dadce0;
}

.day {
    /* margin-left : 66px; */
    color : black;
}

.non {
    border : none;
    border-bottom: solid 1px lightgray;
    border-right: solid 1px lightgray;
}
th{
    font-size: 30px;
}

.periods {
    letter-spacing: 1px;
    font-family: Helvetica;
}

.year {
    color: #D90000;
    font-size: 30px;
    border-bottom: solid 2px darkgray;
}

body {
    background: rgb(255, 255, 255);
    padding : 10px;
}

.wesh {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
    align-content: space-between;
    font-size : 10px;
    margin-top : 5px;
}

.hour {
    width: 98vw;
}

#info {
    font-size : 15px;
}
.relative {
    margin-left: 76px;
}

.left {
    float: left;
    margin-bottom: 15px;
}

.center {
    margin: auto;
    color : white;
    background: #1a73e8;
    border-radius: 100%;
    font-variant: tabular-nums;
    width: 50px;
}

.jour > table:nth-child(2){
    border : solid 2px darkgrey;
}

#modal {
    background: none;
    border: none;
}

#modal:hover {

}
#r {
    margin-left: 317px;
}
